<div class="news-list">
  <div class="news-item" *ngFor="let newsItem of news">
    <a [href]="newsItem.url" target="_blank" class="title">{{ newsItem.title }}</a>
    <span class="domain">({{ newsItem.url }})</span>
    <div class="subtext">
      {{ newsItem.score }} points by {{ newsItem.by }} {{ newsItem.time }} |
      <a [routerLink]="['/comments']" [queryParams]="{debug: true, id: newsItem.id}" queryParamsHandling="merge">
        {{ newsItem.descendants}} comments
      </a>
    </div>
  </div>
</div>
