<div class="news-list">
  <div class="news-item" *ngFor="let newsItem of topstories">
    <a [href]="newsItem.url" target="_blank" class="title">{{ newsItem.title }}</a>
    <span class="domain">({{ newsItem.url }})</span>
    <div class="subtext">
      {{ newsItem.score }} points by {{ newsItem.by }} {{ newsItem.time  * 1000 | date:'yyyy-MM-dd HH:mm:ss' }} |
      <a [routerLink]="['/comments']" [queryParams]="{storyId: newsItem.id}" [state]="{story:newsItem}" queryParamsHandling="merge">
        {{ newsItem.descendants}} comments
      </a>
    </div>
  </div>
</div>
