<div class="main">
  <div class="comment-container">
    <div class="comment-comment" *ngFor="let comment of comments">
      <div>
        <b>{{comment.by}}</b> -
        <small>{{comment.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</small>
      </div>
      <div>
        <b> Comment:</b> {{comment.text}}
      </div>

      <button (click)="onViewReply(comment)"> View Replies({{ comment.kids ? comment.kids.length : 0}}) </button>

      <!-- Container for dynamic content -->
      <div class="dynamicContainer" *ngIf="viewReply === comment.id">
        <ng-template #dynamic></ng-template>
      </div>

    </div>

  </div>
</div>

